* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
}

.fx_al {
  display: flex;
  align-items: center;
}

.fx_al_jus {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.dp {
  display: flex;
}

.size_banner_small {
  width: 100%;
  height: 55.4px;
}

.size_main_banner {
  width: 100%;
  height: 756.96px;
}

.banner_first {
  gap: 30px;
  padding: 50px 50px;
}

.banner_first_see {
  position: relative;
}

.size_banner_first {
  width: 439.1px;
  height: 695.24px;
  border-radius: 10px;
}

.see_right_now {
  position: absolute;
  color: #fff;
  font-weight: 800;
  border: 2px solid #fff;
  padding: 5px 25px;
  border-radius: 10px;
  bottom: 30px;
  left: 160px;
}

.see_right_now:hover {
  background-color: black;
  border: 2px solid black;
}

.size_magazine {
  width: 100%;
  height: 100%;
}

.product_image_container {
  padding: 80px 50px;
  gap: 5px;
  justify-content: space-between;
}

.size_product_image {
  width: 325px;
  height: 487.5px;
}

.product_wrap_image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.product_image:hover {
  transform: scale(2.5);
  position: relative;
  top: 300px;
  left: 0;
  cursor: pointer;
}

.fm_product {
  position: relative;
  flex-direction: column;
  max-width: 325px;
}

.fm_icon_product_a {
  position: absolute;
  z-index: 1;
  width: 87.75px;
  height: 50.23px;
  top: 5px;
  left: 5px;
}

.fm_icon_product_b {
  position: absolute;
  z-index: 1;
  width: 81.25px;
  height: 201.46px;
  top: 5px;
  right: 5px;
}

.fm_icon_product_c {
  position: absolute;
  z-index: 1;
  width: 325px;
  height: 44.69px;
  bottom: 0;
}

.product_details {
  font-size: 15px;
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  gap: 1px;
}

.product_details a:hover {
  text-decoration: underline;
}

.product_details i {
  font-size: 25px;
}

.price {
  font-weight: 700;
  font-size: 19px;
}

/* .see_more_btn {
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px 40px;
  font-weight: bolder;
  letter-spacing: 2px;
  width: fit-content;
  margin: auto;
} */

.see_more_btn a:hover {
  background-color: black;
  color: #fff;
}

.see_more_btn {
  text-align: center;
}

.see_more_btn a {
  border-radius: 10px;
  border: 1.5px solid black;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: .1rem;
}

.fashion_container {
  gap: 30px;
  padding: 50px 50px;
}

.fashion {
  position: relative;
}

.size_fashion {
  width: 673.67px;
  height: 551.18px;
  border-radius: 10px;
}

.see_right_now_fashion {
  position: absolute;
  color: #fff;
  font-weight: 800;
  border: 2px solid black;
  background-color: black;
  padding: 5px 25px;
  border-radius: 10px;
  bottom: 20px;
  left: 280px;
}

.footer {
  background-color: #f8f8f8;
  padding: 50px 50px 50px 50px;
}

.footer_container {
  gap: 5px;
}

.footer_information {
  width: 35%;
  margin-right: 190px;
}

.footer_information p {
  font-size: 14px;
  margin-bottom: 20px;
}

h3 {
  font-size: 15px;
  font-weight: 900;
  margin: 15px 0px 20px 0px;
}

.num_store {
  gap: 5px;
  align-items: center;
  font-weight: 900;
  margin: 20px 0px 10px 0px;
}

.cnt_social {
  font-size: 20px;
  margin: 0px 17px 0px 0px;
}

.location_icon {
  font-size: 10px;
}

ul li {
  font-size: 14px;
  margin: 5px 0px 10px 0px;
  list-style-type: none;
  position: relative;
}

.footer_about li:hover {
  text-decoration: underline;
}

.footer_about ul li a {
  padding-left: 10px;
}

.footer_about ul li::before {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 3.5px solid transparent;
  border-left: 4px solid #e3b387 ;
  border-bottom: 3.5px solid transparent;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.footer_policy ul li::before {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 3.5px solid transparent;
  border-left: 4px solid #e3b387 ;
  border-bottom: 3.5px solid transparent;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.footer_policy li:hover {
  text-decoration: underline;
}

.footer_policy ul li a {
  padding-left: 10px;
}

.footer_logo img {
  width: 158.07px;
  height: 44px;
  margin: 0px 0px 24px;
}

.input_form {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 5px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.size_envelope {
  font-size: 25px;
}

.input_mail {
  font-size: 14px;
  border: none;
  background-color: #f8f8f8;
  width: 60%;
  outline: none;
}

.register_btn {
  font-size: 10px;
  font-weight: bold;
  padding: 8px 20px;
  color: #fff;
  background-color: black;
  border: none;
}

.footer_about {
  width: 18.6%;
  padding: 0px 15px;
}

.footer_policy {
  width: 27%;
  padding: 0px 15px;
}

.footer_location_store {
  width: 27%;
  padding: 0px 15px;
}

.see_all_store {
  margin: 30px 0px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.all_store {
  padding-right: 10px;
}

.all_store::after {
  display: inline-block;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-left: 7px solid #e3b387 ;
  border-bottom: 5px solid transparent;
  border-radius: 5px;
  margin-left: 10px;
}